.simple-section {
    background-color: rgb(242, 206, 218, 30%);
    padding: 30px;
}
.simple {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.simple__wrapper {
    width: 621px;
}
.simple__wrapper > h2 {
    font-size: 44.2px;
    font-weight: 500;
    line-height: 51.8px;
    margin-bottom: 20px;
}
.simple__wrapper > p {
    width: 607px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    letter-spacing: 0.01em;
    color: #0F0101;
    opacity: 0.7;
    margin-bottom: 29px;
}
.simple__wrapper-cont {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.simple__wrapper-cont > strong {
    font-size: 22px;
    font-weight: 400;
    line-height: 25.78px;
    margin-bottom: 34px;
}
.simple__wrapper-img {
    display: flex;
    align-items: center;
    gap: 7px;
}