.sugar-section {
    background: #F2CEDA;
    margin-bottom: 100px;
}
.sugar {
    display: flex;
    align-items: center;
}
.sugar-content-wrapper > h2 {
    font-size: 51.2px;
    font-weight: 600;
    line-height: 48.84px;
    color: #150101;
    margin-bottom: 16px;
}
.sugar-content-wrapper > p {
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #150101;
    margin-bottom: 35px;
}
.sugar-content-wrapper > button {
    padding: 15px 42px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.08px;
    color: #FAFAFA;
    transition: all 0.3s;
    background-color: #D64374;
    border: 2px solid transparent;
}
.sugar-content-wrapper > button:hover {
    background-color: #FAFAFA;
    color: #D64374;
    border-color: #D64374;
}